<html lang="pt-br">
    <head>
        {% load cloudinary %}
        {% load url from future %}
        {% load my_filters %}
        {% load staticfiles %}
        <title>Michael Camargo Coretor de Imóveis</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="{% static 'pagina.js' %}"></script>
        <link href="{% static 'pagina.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'prevnext.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'prevnext2.css' %}" rel="stylesheet" type="text/css">
        <script src="{% static 'prevnext3.js' %}"></script>
        <link href="{% static 'prevnext3.css' %}" rel="stylesheet" type="text/css">
    </head>
    <body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="#myPage" title="To Top">
                        <img src="/media/logomini.png" width="200" height="75" alt="C1">
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#contact">CONTATO</a></li>
                        <li><a><input type="text" id="myInput3" onkeyup="myFunction3()" placeholder="Procure o nome do imovel" title="Type in a name"></a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                {% if destaques.count%} 
                    {% for i in destaques.count|times %}
                        {% if i == 0 %}
                            <li data-target="#myCarousel" data-slide-to={{i}} class="active"></li>
                        {% else %}
                            <li data-target="#myCarousel" data-slide-to={{i}}></li>
                        {% endif %}
                    {% endfor %}
                {%else%}
                    <li data-target="#myCarousel" data-slide-to=1 class="active"></li>
                {% endif %}
            </ol>
            <div class="carousel-inner">
                {% if destaques.count%} 
                    {% for destaque in destaques %}
                        {% if forloop.counter == 1 %}
                            <div class="item active">
                        {% else %}
                            <div class="item">
                        {% endif %}
                            {%if destaque.imagem.public_id%}
                                {% cloudinary destaque.imagem SLIDE %}
                                <div class="carousel-caption">
                                    <h3>{{ destaque.titulo }}</h3>
                                </div>
                            {%else%}
                                <img src="/media/1920x1200.png" >
                                <div class="carousel-caption">
                                    <h3>Sem imagem</h3>
                                </div>
                            {%endif%}
                        </div>
                    {% endfor %}
                {%else%}
                    <div class="item active">
                        <img src="/media/1920x1200.png">
                        <div class="carousel-caption">
                            <h3>Sem imagem</h3>
                        </div>
                    </div>
                {%endif%}
            </div>
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <div class="container-fluid bg-3 text-center">
            <p id="demo"></p>
            <div class="cssPagination">
                {%if new_imoveis|count > 0%}
                    <h1>Todos os imoveis</h1>
                {%else%}
                    <h1>Sem Imoveis</h1>
                {%endif%}
                <br></br>
                <div class="pages" id="new">
                    {%for n_imovel in new_imoveis%}
                        {%if forloop.counter != 1%}
                            <div class="page" id="page{{forloop.counter}}">
                                {%for n_imoveis in n_imovel%}
                                    <section class='imovelmain'>
                                        {%for imovalues in n_imoveis%}
                                            <section class='imovelsection'>
                                                <section class='imagemsection'>
                                                    {% with imovalues.imagem.all|first as image %}
                                                        {%if image.imagem.public_id%}
                                                            <a data-toggle="modal" data-target="#myModal{{magem.id}}">
                                                                {% cloudinary image.imagem THUMBNAIL %}
                                                            </a>
                                                        {%else%}
                                                            <a data-toggle="modal" data-target="#myModal{{magem.id}}">
                                                                <img src="/media/300x300.png" >
                                                            </a>
                                                        {%endif%}
                                                    {% endwith %}
                                                </section>
                                                <section class='titulosection'>
                                                    <h1><a>{{ imovalues.titulo }}</a></h1>
                                                </section>

                                                <section class='descricaosection'>
                                                    <div class="descricao-paragrafo">
                                                        <p class="clampMe">{{ imovalues.descricao|linebreaksbr }}</p>
                                                    </div>
                                                </section>

                                                <section class='modalsection'>
                                                    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal{{imovalues.id}}" style = "margin-bottom: 2em;">Vizualizar</button>
                                                    <div class="modal fade" id="myModal{{imovalues.id}}" role="dialog" style="z-index: 99999;">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    {%if imovalues.imagem.all|count > 1 %}
                                                                        <div id="myCarousel{{imovalues.id}}" class="carousel slide" data-ride="carousel">
                                                                            <ol class="carousel-indicators">
                                                                                {% for i in imovalues.imagem.all.count|times %}
                                                                                    {% if i == 0 %}
                                                                                        <li data-target="#myCarousel{{imovalues.id}}" data-slide-to={{i}} class="active"></li>
                                                                                    {% else %}
                                                                                        <li data-target="#myCarousel{{imovalues.id}}" data-slide-to={{i}}></li>
                                                                                    {% endif %}
                                                                                {% endfor %}
                                                                            </ol>
                                                                            <div class="carousel-inner">
                                                                                {% for magem in imovalues.imagem.all %}
                                                                                    {% if forloop.counter == 1 %}
                                                                                        <div class="item active">
                                                                                    {% else %}
                                                                                        <div class="item">
                                                                                    {% endif %}
                                                                                        {%if magem.imagem.public_id%}
                                                                                            {% cloudinary magem.imagem MINISLIDE %}
                                                                                            <div class="carousel-caption">
                                                                                                <h3>{{ magem.titulo }}</h3>
                                                                                            </div>
                                                                                        {%else%}
                                                                                            <img src="/media/565x565.png">
                                                                                            <div class="carousel-caption">
                                                                                                <h3>Sem Imagem</h3>
                                                                                            </div>
                                                                                        {%endif%}
                                                                                    </div>
                                                                                {% endfor %}
                                                                            </div>
                                                                            <a class="left carousel-control" href="#myCarousel{{imovalues.id}}" data-slide="prev">
                                                                                <span class="glyphicon glyphicon-chevron-left"></span>
                                                                                <span class="sr-only">Previous</span>
                                                                            </a>
                                                                            <a class="right carousel-control" href="#myCarousel{{imovalues.id}}" data-slide="next">
                                                                                <span class="glyphicon glyphicon-chevron-right"></span>
                                                                                <span class="sr-only">Next</span>
                                                                            </a>
                                                                        </div>
                                                                    {%elif imovalues.imagem.all|count == 0%}
                                                                        <img src="/media/565x565.png">
                                                                    {%elif imovalues.imagem.all|count == 1%}
                                                                        {% with imovalues.imagem.all|first as image %}
                                                                            {%if image.imagem.public_id%}
                                                                                {% cloudinary image.imagem MINISLIDE %}
                                                                            {%else%}
                                                                                <img src="/media/565x565.png">
                                                                            {%endif%}
                                                                        {% endwith %}
                                                                    {%endif%}
                                                                    <h4 class="modal-title">{{imovalues.titulo}}</h4>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <p>Descrição: {{ imovalues.descricao|linebreaksbr }}</p>
                                                                    <p>Localização: {{ imovalues.localizacao|linebreaksbr }}</p>
                                                                    <p>Tamanho: {{ imovalues.tamanho|linebreaksbr }}</p>
                                                                    <p>Publicado em {{ imovalues.published_date }}</p>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" id="contato-button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModalcontato{{imovalues.id}}">Contato</button>
                                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal fade" id="myModalcontato{{imovalues.id}}" role="dialog" style="z-index: 999999;">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                </div>
                                                                <div class="modal-body">
                                                                    <h1>Preenchas as informações a seguir</h1>
                                                                    <div>
                                                                        <form action="" method="POST" class="sendcontato">{% csrf_token %}
                                                                            {{ imovalues.form.as_p }}
                                                                            <input type="submit" class="btn btn-info btn-lg" value="Submit Feedback" />
                                                                        </form>
                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </section>
                                            </section>
                                        {%endfor%}
                                    </section>
                                {%endfor%}
                                <a class="prev page{{forloop.counter}}" href="#page{{forloop.counter|add:'-1'}}">prev</a>
                                {%if forloop.counter != new_imoveis.count%}
                                    <a class="next page{{forloop.counter}}" href="#page{{forloop.counter|add:1}}">next</a>
                                {%else%}
                                    <a class="next page{{forloop.counter}} disabled" href="#page{{forloop.counter}}">next</a>
                                {%endif%}
                            </div>
                        {%endif%}
                    {%endfor%}
                    <div class="page" id="page1">
                        {%for n_imoveis in new_imoveis.0%}
                            <section class='imovelmain'>
                                {%for imovalues in n_imoveis%}
                                    <section class='imovelsection'>
                                        <section class='imagemsection'>
                                            {% with imovalues.imagem.all|first as image %}
                                                {%if image.imagem.public_id%}
                                                    <a data-toggle="modal" data-target="#myModal{{magem.id}}">
                                                        {% cloudinary image.imagem THUMBNAIL %}
                                                    </a>
                                                {%else%}
                                                    <a data-toggle="modal" data-target="#myModal{{magem.id}}">
                                                        <img src="/media/300x300.png" >
                                                    </a>
                                                {%endif%}
                                            {% endwith %}
                                        </section>
                                        <section class='titulosection'>
                                            <h1><a>{{ imovalues.titulo }}</a></h1>
                                        </section>

                                        <section class='descricaosection'>
                                            <div class="descricao-paragrafo">
                                                <p class="clampMe">{{ imovalues.descricao|linebreaksbr }}</p>
                                            </div>
                                        </section>

                                        <section class='modalsection'>
                                            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal{{imovalues.id}}" style = "margin-bottom: 2em;">Vizualizar</button>
                                            <div class="modal fade" id="myModal{{imovalues.id}}" role="dialog" style="z-index: 99999;">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            {%if imovalues.imagem.all|count > 1 %}
                                                                <div id="myCarousel{{imovalues.id}}" class="carousel slide" data-ride="carousel">
                                                                    <ol class="carousel-indicators">
                                                                        {% for i in imovalues.imagem.all.count|times %}
                                                                            {% if i == 0 %}
                                                                                <li data-target="#myCarousel{{imovalues.id}}" data-slide-to={{i}} class="active"></li>
                                                                            {% else %}
                                                                                <li data-target="#myCarousel{{imovalues.id}}" data-slide-to={{i}}></li>
                                                                            {% endif %}
                                                                        {% endfor %}
                                                                    </ol>
                                                                    <div class="carousel-inner">
                                                                        {% for magem in imovalues.imagem.all %}
                                                                            {% if forloop.counter == 1 %}
                                                                                <div class="item active">
                                                                            {% else %}
                                                                                <div class="item">
                                                                            {% endif %}
                                                                                {%if magem.imagem.public_id%}
                                                                                    {% cloudinary magem.imagem MINISLIDE %}
                                                                                    <div class="carousel-caption">
                                                                                        <h3>{{ magem.titulo }}</h3>
                                                                                    </div>
                                                                                {%else%}
                                                                                    <img src="/media/565x565.png">
                                                                                    <div class="carousel-caption">
                                                                                        <h3>Sem Imagem</h3>
                                                                                    </div>
                                                                                {%endif%}
                                                                            </div>
                                                                        {% endfor %}
                                                                    </div>
                                                                    <a class="left carousel-control" href="#myCarousel{{imovalues.id}}" data-slide="prev">
                                                                        <span class="glyphicon glyphicon-chevron-left"></span>
                                                                        <span class="sr-only">Previous</span>
                                                                    </a>
                                                                    <a class="right carousel-control" href="#myCarousel{{imovalues.id}}" data-slide="next">
                                                                        <span class="glyphicon glyphicon-chevron-right"></span>
                                                                        <span class="sr-only">Next</span>
                                                                    </a>
                                                                </div>
                                                            {%elif imovalues.imagem.all|count == 0%}
                                                                <img src="/media/565x565.png">
                                                            {%elif imovalues.imagem.all|count == 1%}
                                                                {% with imovalues.imagem.all|first as image %}
                                                                    {%if image.imagem.public_id%}
                                                                        {% cloudinary image.imagem MINISLIDE %}
                                                                    {%else%}
                                                                        <img src="/media/565x565.png">
                                                                    {%endif%}
                                                                {% endwith %}
                                                            {%endif%}
                                                            <h4 class="modal-title">{{imovalues.titulo}}</h4>
                                                        </div>
                                                        <div class="modal-body">
                                                            <p>Descrição: {{ imovalues.descricao|linebreaksbr }}</p>
                                                            <p>Localização: {{ imovalues.localizacao|linebreaksbr }}</p>
                                                            <p>Tamanho: {{ imovalues.tamanho|linebreaksbr }}</p>
                                                            <p>Publicado em {{ imovalues.published_date }}</p>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" id="contato-button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModalcontato{{imovalues.id}}">Contato</button>
                                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal fade" id="myModalcontato{{imovalues.id}}" role="dialog" style="z-index: 999999;" data-target="#myModal{{imovalues.id}}">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                        </div>
                                                        <div class="modal-body">
                                                            <h1>Preenchas as informações a seguir</h1>
                                                            <div>
                                                                <form action="" method="POST" class="sendcontato">{% csrf_token %}
                                                                    {{ imovalues.form.as_p }}
                                                                    <input type="submit" class="btn btn-info btn-lg" value="Submit Feedback" />
                                                                </form>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-default" data-target="#myModal{{imovalues.id}}" data-dismiss="modal">Close</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                    </section>
                                {%endfor%}
                            </section>
                        {%endfor%}
                        <a class="prev page1 disabled" href="#page1">prev</a>
                        <a class="next page1" href="#page2">next</a>
                    </div>
                </div>
                <div class="pageNav">
                    {% for i in new_imoveis|count|times %}
                        <a class="pageNumber" href="#page{{i|add:1}}">{{i|add:1}}</a>
                    {% endfor %}
                </div>
            </div>
            <div class="csspagsination">
                <br></br>
                {%if new_depoimento|count > 0%}
                    <h1>Depoimentos</h1>
                {%else%}
                    <h1>Sem Depoimentos</h1>
                {%endif%}
                <br></br>
                <div class="pagses">
                    {%for n_depoimento in new_depoimento%}
                        {%if forloop.counter != 1%}
                            <div class="pagse" id="pagse{{forloop.counter}}">
                                <section class='depomain'>
                                    {%for depovalues in n_depoimento%}
                                        <section class='deposection'>
                                            <section class='depoimagemsection'>
                                                {%if depovalues.imagem.public_id%}
                                                    <a data-toggle="modal" data-target="#myModal{{depovalues.id}}a{{forloop.counter}}">
                                                        {% cloudinary depovalues.imagem DEPOTHUMBNAIL %}
                                                    </a>
                                                {%else%}
                                                    <a data-toggle="modal" data-target="#myModal{{depovalues.id}}a{{forloop.counter}}">
                                                        <img src="/media/300x300.png" style="border-radius:50%;">
                                                    </a>
                                                {%endif%}
                                            </section>
                                            <section class='depotitulosection'>
                                                <h1><a>{{ depovalues.titulo }}</a></h1>
                                            </section>
                                            <section class='depodescricaosection'>
                                                <div class="descricao-paragrafo">
                                                    <p class="clampMe">{{ depovalues.descricao|linebreaksbr }}</p>
                                                </div>
                                            </section>
                                            <section class='depomodalsection'>
                                                <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal{{depovalues.id}}a{{forloop.counter}}" style = "margin-bottom: 2em;">Vizualizar</button>
                                                <div class="modal fade" id="myModal{{depovalues.id}}a{{forloop.counter}}" role="dialog" style="z-index: 99999;">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                {%if depovalues.imagem.public_id%}
                                                                    {% cloudinary depovalues.imagem MINISLIDE %}
                                                                {%else%}
                                                                    <img src="/media/565x565.png">
                                                                {%endif%}
                                                                <h4 class="modal-title">{{depovalues.titulo}}</h4>
                                                            </div>
                                                            <div class="modal-body">
                                                                <p>Descrição: {{ depovalues.descricao|linebreaksbr }}</p>
                                                                <p>Publicado em {{ depovalues.published_date }}</p>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                        </section>
                                    {%endfor%}
                                </section>
                                <a class="prev pagse{{forloop.counter}}" href="#pagse{{forloop.counter|add:'-1'}}">prev</a>
                                {%if forloop.counter != new_depoimento.count%}
                                    <a class="next pagse{{forloop.counter}}" href="#pagse{{forloop.counter|add:1}}">next</a>
                                {%else%}
                                    <a class="next pagse{{forloop.counter}} disabled" href="#pagse{{forloop.counter}}">next</a>
                                {%endif%}
                            </div>
                        {%endif%}
                    {%endfor%}
                    <div class="pagse" id="pagse1">
                        <section class='depomain'>
                            {%for depovalues in new_depoimento.0%}
                                <section class='deposection'>
                                    <section class='depoimagemsection'>
                                        {%if depovalues.imagem.public_id%}
                                            <a data-toggle="modal" data-target="#myModal{{depovalues.id}}a{{forloop.counter}}">
                                                {% cloudinary depovalues.imagem DEPOTHUMBNAIL %}
                                            </a>
                                        {%else%}
                                            <a data-toggle="modal" data-target="#myModal{{depovalues.id}}a{{forloop.counter}}">
                                                <img src="/media/300x300.png" style="border-radius:50%;">
                                            </a>
                                        {%endif%}
                                    </section>
                                    <section class='depotitulosection'>
                                        <h1><a>{{ depovalues.titulo }}</a></h1>
                                    </section>
                                    <section class='depodescricaosection'>
                                        <div class="descricao-paragrafo">
                                            <p class="clampMe">{{ depovalues.descricao|linebreaksbr }}</p>
                                        </div>
                                    </section>
                                    <section class='depomodalsection'>
                                        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal{{depovalues.id}}a{{forloop.counter}}" style = "margin-bottom: 2em;">Vizualizar</button>
                                        <div class="modal fade" id="myModal{{depovalues.id}}a{{forloop.counter}}" role="dialog" style="z-index: 99999;">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        {%if depovalues.imagem.public_id%}
                                                            {% cloudinary depovalues.imagem MINISLIDE %}
                                                        {%else%}
                                                            <img src="/media/565x565.png">
                                                        {%endif%}
                                                        <h4 class="modal-title">{{depovalues.titulo}}</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p>Descrição: {{ depovalues.descricao|linebreaksbr }}</p>
                                                        <p>Publicado em {{ depovalues.published_date }}</p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </section>
                            {%endfor%}
                        </section>
                        <a class="prev pagse1 disabled" href="#pagse1">prev</a>
                        <a class="next pagse1" href="#pagse2">next</a>
                    </div>
                </div>
                <div class="pagseNav">
                    {% for i in new_depoimento|count|times %}
                        <a class="pagseNumber" href="#pagse{{i|add:1}}">{{i|add:1}}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <footer class="container-fluid text-center">
            <script src="{% static 'modals.js' %}"></script>
            <script src="{% static 'contato.js' %}"></script>
            <script src="{% static 'prevnext.js' %}"></script>
            <script src="{% static 'prevnext2.js' %}"></script>
            <a href="#myPage" title="To Top">
                <span class="glyphicon glyphicon-chevron-up"></span>
            </a>
            <p>
                By Parsa Agency - Visual e Digital 
                <a href="https://www.facebook.com" title="Visite Parsa Agency">
                    www.parsaagency.com
                </a>
            </p>
        </footer>
    </body>
</html>

