<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Minimal Django File Upload Example</title>
    </head>

    <body>

        {% if editar %}
            <ul>
                <li>
                    <a href="{{ editar.docfile.url }}">{{ editar.docfile.name }}</a>
                </li>
            </ul>
        <!-- List of uploaded documents -->
        {% elif documents %}
            <ul>
                {% for document in documents %}
                    <li>
                        <form action="{% url "list" %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <a href="{{ document.docfile.url }}">{{ document.docfile.name }}</a>
                            <input type="hidden" name="docfile" value="{{document.id}}">
                            <button class="btn btn-lg btn-primary" type="submit" id="editar" name="editar">Editar</button>
                            <button class="btn btn-lg btn-primary" type="submit" id="apagar" name="apagar">Apagar</button>
                        </form>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No documents.</p>
        {% endif %}

        <!-- Upload form. Note enctype attribute! -->
        <form action="{% url "list" %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>{{ form.non_field_errors }}</p>

            <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>

            <p>
                {{ form.docfile.errors }}
                {{ form.docfile }}
            </p>
            {% if editar %}
                <input type="hidden" name="edt" value="{{editar.id}}">
            {% endif %}
            <p><input type="submit" value="Upload"/></p>
        </form>
    </body>

</html>
